<?xml version="1.0"?>
<!--
/**
 * Copyright © ViaBill. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <viabill>
                <active>0</active>
                <title>ViaBill - Easy monthly payments</title>
                <sort_order>6</sort_order>
                <description>Pay your purchase in monthly installments.</description>
                <model>ViabillFacade</model>
                <order_status>pending_payment</order_status>
                <debug>0</debug>
                <test_transaction>1</test_transaction>
                <hide_checkout>0</hide_checkout>
                <apikey backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <price_tag_script></price_tag_script>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <admin_notifications_severity>1</admin_notifications_severity>
                <viabill_payment_action>authorize</viabill_payment_action>
                <order_status_before_authorization>pending</order_status_before_authorization>
                <order_status_after_authorization>pending_payment</order_status_after_authorization>
                <order_status_after_capture>processing</order_status_after_capture>
                <viabill_account>
                    <email></email>
                    <country></country>
                    <shop_url></shop_url>
                    <contact_name></contact_name>
                    <phone></phone>
                    <merchant_name></merchant_name>
                    <tax_id></tax_id>
                </viabill_account>
            </viabill>

            <viabill_try>
                <active>0</active>
                <title>ViaBill - Pay in 30 days</title>                
                <description>Pay only for what you keep - in 30 days</description>                
                <model>ViabillTryFacade</model>
                <order_status>pending_payment</order_status>
                <debug>0</debug>
                <test_transaction>1</test_transaction>                
                <apikey backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <price_tag_script></price_tag_script>
                <can_initialize>0</can_initialize>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>0</can_use_internal>
                <is_gateway>1</is_gateway>
                <admin_notifications_severity>4</admin_notifications_severity>
                <viabill_payment_action>authorize</viabill_payment_action>
                <order_status_before_authorization>pending</order_status_before_authorization>
                <order_status_after_authorization>pending_payment</order_status_after_authorization>
                <order_status_after_capture>processing</order_status_after_capture>
            </viabill_try>

            <viabill_account>
                <email></email>
                <country></country>
                <shop_url></shop_url>
                <contact_name></contact_name>
                <phone></phone>
                <merchant_name></merchant_name>
                <tax_id></tax_id>
            </viabill_account>

        </payment>
    </default>
</config>