/**
 * Copyright © ViaBill. All rights reserved.
 * See LICENSE.txt for license details.
 */

.pp-buttons-container {
    .forgot-password-btn, .my-viabill-btn {
        display: block;
        padding: 10px 0;
        cursor: pointer;
    }
}

.register-btn, .terms-and-conditions-wrap label {
    cursor: pointer;
}

.viabill-buttons {
    text-align: left;
    cursor: pointer;
}

.viabill-asterisk {
    color: red;
}