<?xml version="1.0"?>
<!--
/**
 * Copyright © ViaBill. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="ViabillRegistrationForm" type="Viabillhq\Payment\Block\Adminhtml\System\Config\CredentialsForm">
        <arguments>
            <argument name="command" xsi:type="const">Viabillhq\Payment\Gateway\Command\ViabillCommandPool::COMMAND_ACCOUNT_REGISTER</argument>
            <argument name="template" xsi:type="const">Viabillhq\Payment\Block\Adminhtml\System\Config\CredentialsForm::REGISTRATION_TEMPLATE</argument>
        </arguments>
    </virtualType>
    <virtualType name="ViabillLoginForm" type="Viabillhq\Payment\Block\Adminhtml\System\Config\CredentialsForm">
        <arguments>
            <argument name="command" xsi:type="const">Viabillhq\Payment\Gateway\Command\ViabillCommandPool::COMMAND_ACCOUNT_LOGIN</argument>
            <argument name="template" xsi:type="const">Viabillhq\Payment\Block\Adminhtml\System\Config\CredentialsForm::LOGIN_TEMPLATE</argument>
        </arguments>
    </virtualType>

    <type name="Viabillhq\Payment\Model\Adminhtml\Source\Country">
        <arguments>
            <argument name="commandPool" xsi:type="object">ViabillCommandPool</argument>
            <argument name="logger" xsi:type="object">ViabillLogger</argument>
        </arguments>
    </type>
    <type name="Viabillhq\Payment\Model\Adminhtml\Source\MyViaBill">
        <arguments>
            <argument name="commandPool" xsi:type="object">ViabillCommandPool</argument>
            <argument name="logger" xsi:type="object">ViabillLogger</argument>
        </arguments>
    </type>

    <type name="Viabillhq\Payment\Controller\Adminhtml\Account\GetCredentials">
        <arguments>
            <argument name="commandPool" xsi:type="object">ViabillCommandPool</argument>
            <argument name="logger" xsi:type="object">ViabillLogger</argument>
        </arguments>
    </type>

    <type name="Viabillhq\Payment\Controller\Adminhtml\Order\Renew">
        <arguments>
            <argument name="commandPool" xsi:type="object">ViabillCommandPool</argument>
            <argument name="logger" xsi:type="object">ViabillLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="orderFormToolbarButtons" type="Viabillhq\Payment\Plugin\Block\Widget\Button\Toolbar" />
    </type>

    <type name="Magento\Config\Model\Config">
        <plugin name="admin_system_config_save_plugin" type="Viabillhq\Payment\Plugin\Config\Model\Config" sortOrder="1" />
    </type>

    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="Viabillhq\Payment\Plugin\Sales\Model\Order\Invoice" type="Viabillhq\Payment\Plugin\Sales\Model\Order\Invoice" sortOrder="10"/>
    </type>

    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="Viabillhq\Payment\Plugin\Sales\Model\Services\CreditmemoService" type="Viabillhq\Payment\Plugin\Sales\Model\Services\CreditmemoService" sortOrder="10"/>
    </type>

    <type name="Viabillhq\Payment\Model\Adminhtml\AdminNotification">
        <arguments>
            <argument name="config" xsi:type="object">ViabillGatewayConfig</argument>
        </arguments>
    </type>
</config>
